html{
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
}
h1{
    font-size: 72pt;
    margin: 2% 0;
    color: #729EA1;
}
h2{
    color: #B5BD89;
}
h3{
    color:#DB5375;
}
body{
    margin: 5% 15%;
}
div{
    text-indent: 3rem;
}
.subheading{
    margin: 8px 8px;
}
section{
    margin: 10% 0%;
}
.label{
    font-size: 14px;
    color: #F08A4B;
}
p{
    margin-top: 0.5%; 
}