li{
    list-style-type: none;
    margin:auto;
    text-align: center;
}
nav{
    margin-top: 10%;
}

li a{
    color: white;
    text-decoration: none;
    font-size: 50pt;
    text-transform: uppercase;
}

a:hover{
    color: #98E6CD;
}